$progress-bars-background-colors-support-parser: (
    outline-color: null,
    border-color: null,
    background-color: 'background-inner-color',
    meter-background-color: 'hover-color',
    meter-info-color: 'background-inner-color'
) !default;

$progress-bars-background-colors-support-extra-colors-palette: () !default;
$progress-bars-background-colors-support-skip-colors-palette: null !default;
